VITE_SUPABASE_URL=https://nyscbjgrfuhjjzyffgun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55c2NiamdyZnVoamp6eWZmZ3VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTQ5NDgsImV4cCI6MjA3MDQ3MDk0OH0.RpycPEfPjHyqbfzvaBTMjNWocMhWMefH2dAsFcetg_c